[submodule "thirdparty/libADLMIDI"]
	path = thirdparty/libADLMIDI
	url = https://github.com/Wohlstand/libADLMIDI.git
[submodule "thirdparty/libOPNMIDI"]
	path = thirdparty/libOPNMIDI
	url = https://github.com/Wohlstand/libOPNMIDI.git
[submodule "thirdparty/scc"]
	path = thirdparty/scc
	url = https://github.com/jpcima/scc.git
[submodule "thirdparty/munt"]
	path = thirdparty/munt
	url = https://github.com/munt/munt.git
[submodule "thirdparty/FluidLite"]
	path = thirdparty/fluidlite
	url = https://github.com/divideconcept/FluidLite.git
[submodule "thirdparty/timidityplus"]
	path = thirdparty/timidityplus
	url = https://github.com/jpcima/timidityplus.git
[submodule "thirdparty/span-lite"]
	path = thirdparty/span-lite
	url = https://github.com/martinmoene/span-lite.git
[submodule "thirdparty/scope-lite"]
	path = thirdparty/scope-lite
	url = https://github.com/martinmoene/scope-lite.git
[submodule "thirdparty/string-view-lite"]
	path = thirdparty/string-view-lite
	url = https://github.com/martinmoene/string-view-lite.git
